<div class="jumbotron text-center">
  <h1>Hr-Web Marlabs</h1>
  <p class="lead"> Attendance management,Interview Experience Box, </p>
  <div>
    <a routerLink = '/register' class="btn btn-primary">Register</a>
    <a routerLink = '/login' class="btn btn-success">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/svg/417/417745.svg" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>Test</h3>
        <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
          Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417746.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h3>Test</h3>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417751.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h3>Test</h3>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417754.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h3>Test</h3>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417768.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h3>Test</h3>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417764.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h3>Test</h3>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>

</div>
