<div class="jumbotron text-center">
  <h1>Hr-Web Marlabs</h1>
  <p class="lead"> Portal for Marlabs Employees....... </p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/svg/417/417745.svg" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h4>Attendance Management</h4>
        <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
          Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417746.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h4>Expense Management</h4>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417751.svg" alt="Generic placeholder image" width="140" height="140">
      <div class="caption">
          <h4>Interview Feed</h4>
          <p>Random testing is a black-box software testing technique where programs are tested by generating random, independent inputs.
            Results of the output are compared against software specifications to verify that the test output is pass or fail.</p>
        </div>
    </div>
  </div>
</div>
