<h3 class="page-header">Dashboard Route</h3>

<div>
    <div class="container">
    <!-- <h1>Reimbursement</h1> -->
        <div>
            <select class="custom-select">
                <option selected>Select the Expense Type...</option>
                <option value="1">Grocery Expense - at the guesthouse</option>
                <option value="2">Relocation to the Client Site</option>
                <option value="3">Refreshment - Attending Client Interview</option>
                <option value="4">Gas Expense - Company van</option>
                <option value="5">Certification Fee</option>
                <option value="6">Relocation to the Training Center</option>
                <option value="7">Transportation - Attending Client Interview</option>
            </select>
        </div><br/>
        <div>
            <input type="date" placeholder="Reimbursement Date"/>
        </div><br/>

        <div>
            <input type="date" placeholder="Reimbursement Date"/>
        </div><br/>

        <div class="input-group input-group-sm" style="width: 15%">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="AMOUNT" aria-label="Amount (rounded to the nearest dollar)">
            <span class="input-group-addon">.00</span>
        </div><br/>

        <div class="form-group" style="width: 30%">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please put in your Comments"></textarea>
        </div>

        <div>
                <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input">
                        <span class="custom-file-control"></span>
                        <span class="badge badge-secondary">Upload the Receipts/Docs!</span>
                </label>
        </div>

    </div>
</div>
